@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  height: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles.css */

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #d9d8d8; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners on the scrollbar thumb */
}
